<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta http-equiv="Cache-control" content="no-cache" />

      <link rel="stylesheet" type="text/css" href="{{ base_path() }}/ui/semantic.min.css" />

      {% if darkcss_created and darkcss_enabled %}
         <link rel="stylesheet" type="text/css" href="{{ url_for('getDarkCSS') }}">
      {% endif %}

      <link rel="icon" type="image/png" href="{{ base_path() }}/pics/favicon.png" />

      {% block head %}
        <title>Galette Telemetry - {% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body class="{{ class }}">
      <nav class="top-nav">
         <div class="ui centered secondary large menu">
            <div class="header item">
               <span>
                  <img src="pics/logo.png" alt="Galette"/>
               <span>
            </div>
            <a href="{{ url_for("telemetry") }}" class="item">
               <i class="chart bar outline icon"></i>
               Telemetry
            </a>
            <a href="{{ url_for('reference') }}" class="item">
               <i class="users icon"></i>
               References
            </a>
            <a
               href="#"
               class="item{% if darkcss_created and darkcss_enabled %} black{% endif %} tooltip darkmode"
               title="{% if darkcss_created and darkcss_enabled %}Disable dark mode{% else %}Enable dark mode{% endif %}"
               data-position="bottom center"
            >
               <i class="icon adjust"></i>
               <span class="visually-hidden">{% if darkcss_created and darkcss_enabled %}Disable dark mode{% else %}Enable dark mode{% endif %}</span>
            </a>
         </div>
      </nav>

      <!-- Page Contents -->
      {% block header %}
      <header class="ui vertical masthead center aligned segment page-header">
         <div class="ui text container">
            <h1 class="ui header">
               <i class="{{ myheader.icon }} icon"></i>
               {{ myheader.title }}
            </h1>
            <p>{{ myheader.text|raw }}</p>
         </div>
      </header>
      {% endblock %}

      {% block content %}{% endblock %}

      <footer class="ui secondary inverted basic segment">
         <div class="ui grid wide container">
            <div class="row">
               <div class="center aligned column">
                  <div class="ui inverted link horizontal list">
                     {% for text, link in footer_links %}
                        <a href="{{ link.url }}" class="item" target="_blank">
                           <i class="icon {{ link.icon }}"></i>
                           {{- text -}}
                        </a>
                     {% endfor %}
                  </div><br/>
                  <div class="ui inverted link horizontal list">
                     {% for text, link in social_links %}
                        <a href="{{ link.url }}" class="item tooltip" title="{{ text }}" data-position="top center" target="_blank">
                           <i class="ui icon {{ link.icon }}"></i>
                           <span class="visually-hidden">{{- text -}}</span>
                        </a>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </footer>

      {% include "partials/alerts.html.twig" %}

      <script src="{{ base_path() }}/assets/js/jquery.min.js"></script>
      <script src="{{ base_path() }}/ui/semantic.min.js"></script>
      <script src="{{ base_path() }}/assets/js/main.bundle.min.js"></script>
      {% if not darkcss_created %}
         <script type="text/javascript" src="{{ base_path() }}/assets/js/darkreader.min.js"></script>
      {% endif %}

      <script>
         var darkcss_path = '{{ url_for('writeDarkCSS') }}';
         var writedarkcss = {% if darkcss_created %}false{% else %}true{% endif %};
      </script>
      {% block userscripts %}{% endblock %}
    </body>
</html>
