{% extends "partials/base.html.twig" %}
{% block title %}Telemetry{% endblock %}
{% block head %}
   {{ parent() }}
   <link rel="stylesheet" href="{{ base_path() }}/assets/css/leaflet.bundle.min.css" />
   <link rel="stylesheet" href="{{ base_path() }}/css/chart-palette.css" />
   <link rel="stylesheet" href="{{ base_path() }}/css/telemetry.css" />
{% endblock %}

{% block header %}

{% set myheader = {
   'title': 'Telemetry',
   'icon': 'database',
   'text': '<strong>Anonymous data</strong> collected from voluntary users instances.'
} %}
{{ parent() }}
{% endblock %}

{% block content %}

   <form>
      <div class="ui form basic segment right aligned">
         <div class="inline field">
               <label for="years">Data since</label>
               <select name="years" id="years" >
                  <option value='-1'>always</option>
                  {% for i in 1..20 %}
                     <option value="{{ i }}"{% if form.years == i %} selected="selected"{% endif %}>
                        {{ i }} {% if i < 2  %}year{% else %}years{% endif %}
                     </option>
                  {% endfor %}
               </select>
               <input type="submit" value="Filter" class="ui button primary" />
         </div>
      </div>
   </form>

   <div class="dashboard">

    {% if nb_telemetry_entries %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id': 'nb_telemetry_entries',
                        'title': '# Telemetry: data sent',
                        'data': nb_telemetry_entries
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if nb_reference_entries %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id': 'nb_reference_entries',
                        'title': '# References added',
                        'data': nb_reference_entries,
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

      <div class="chart chart-2 chart-2h">
      {% set vars = {'chart': {
                        'id': 'references_countries',
                        'title': 'Countries of references',
                        'data': references_countries
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>

    {% if glpi_versions %}
      <div class="chart chart-2 chart-2h">
      {% set vars = {'chart': {
                        'id': 'glpi_versions',
                        'title': 'Galette versions',
                        'data': glpi_versions
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if top_plugins %}
        <script type="text/javascript">
            var _allPluginsURL = '{{ url_for('allPlugins') }}';
        </script>
      <div class="chart" data-expand-callback="pluginsExpanded">
      {% set vars = {'chart': {
                        'id': 'top_plugins',
                        'title': 'Top plugins',
                        'data': top_plugins,
                        'expandable': true
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

      {% if php_versions %}
         <div class="chart chart-2">
            {% set vars = {'chart': {
               'id': 'php_versions',
               'title': 'PHP versions',
               'data': php_versions
            }} %}
            {% include 'partials/chart.html.twig' with vars %}
         </div>
      {% endif %}

      {% if default_languages %}
         <div class="chart">
            {% set vars = {'chart': {
               'id': 'default_languages',
               'title': 'Default languages',
               'data': default_languages
            }} %}
            {% include 'partials/chart.html.twig' with vars %}
         </div>
      {% endif %}

      {% if os_family %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id': 'os_family',
                        'title': 'Operating systems',
                        'data': os_family
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if web_engines %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id': 'web_engines',
                        'title': 'Web engines',
                        'data': web_engines
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if db_engines %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id': 'db_engines',
                        'title': 'DB engines',
                        'data': db_engines
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}
   </div>
{% endblock %}

{% block userscripts %}
{{ parent() }}

<script src="{{ base_path() }}/assets/js/plotly.js"></script>
<script src="{{ base_path() }}/assets/js/masonry.pkgd.min.js"></script>
{# Get map provider from configuration #}
<script type="text/javascript">
    var geojson_path = '{{ url_for('geojson') }}';
</script>
<script src="{{ base_path() }}/assets/js/leaflet.bundle.min.js"></script>
<script src="{{ base_path() }}/assets/js/telemetry.bundle.min.js"></script>

{% endblock %}
